@model IEnumerable<Distribuerade_System_Labb_2.Models.GroupViewModel>

@{
    ViewData["Title"] = "JoinedGroup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1>JoinedGroup</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GroupTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerId)
                </td>
            </tr>
        }
    </tbody>
</table>
