@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div class="iphone">
    <div class="border">
        <div class="responsive-html5-chat">
        </div>
    </div>
</div>
@if (ViewBag.NoOfReadMessages != null)
{
<br />
    <br/>
    <br />
<span>
    Your total read messages:
</span>
    @ViewBag.NoOfReadMessages
    <span>
        Your total unread messages:
    </span>
        @ViewBag.NoOfunReadMessages
        <span>
            Your total messages:
        </span>
        @ViewBag.NoOfMessages
        <span>Your total deleted messages:</span>
        @ViewBag.NoOfDeletedMessages
    }
