@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
    </div>
    <div class="iphone">
        <div class="border">
            <div class="responsive-html5-chat">
            </div>
        </div>
    </div>