@model Distribuerade_System_Labb_2.Models.SendMessageViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Message</h4>
<hr />
@using (Html.BeginForm("Create", "Messages", FormMethod.Post))
{

    <div class="messages"></div>

    <div class="controls">

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="TitleMessage" name="Title">Title *</label>
                    <input asp-for="TitleMessage" id="TitleMessage" type="text" name="TitleMessage" class="form-control" placeholder="Please enter a title *" required="required">
                    <span asp-validation-for="TitleMessage" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
 
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="SelectedValues" class="control-label">Select people to send to</label>
                    @Html.DropDownListFor(x => x.SelectedValues, Model.Values, new { multiple = "true" })
                    <span asp-validation-for="SelectedValues" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Body" name="Body">Message *</label>
                    <textarea asp-for="Body" name="Body" id="Body" class="form-control" placeholder="Message for me *" rows="4" required="required" data-error="Please, leave us a message."></textarea>
                    <span asp-validation-for="SelectedValues" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                <input type="submit" class="btn btn-success btn-send" value="Send message">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
    </div>
    @if (TempData["ConfirmationMessage"] != null)
    {
        <div class="alert alert-success">@TempData["ConfirmationMessage"]</div>
    }
}
    <div class="row">
       
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
